<!--post-form-container-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!--post-form-->
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
              {{textarea value=post_text}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="pull-left"><i class="fa fa-photo"></i><br/><span>photos</span></a>
                <a href=""><i class="fa fa-file-text"></i><br/><span>Docs</span></a>
            </div>
        </div>
        <!--post-form-->
    </div>
</div>
<!--post-form-container-->
<!--posts-container-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!--posts-->
      {{# each postas as |post|}}
          <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-9">
                  <p>{{post.text}}</p>
                  <div><img src="{{post.img}}" alt=""/></div>
              </div>
          </div>
      {{/each}}

        <!--posts-->
    </div>
</div>
<!--posts-container-->